{% extends "base.html" %}

{% block title %}GPA计算器{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}

    <div class="row">
        <table id="grade_table" class="table table-hover">
                <tr>
                    <td align="center">课程名称</td>
                    <td align="center">课程类型</td>
                    <td align="center">学分</td>
                    <td align="center">成绩</td>
                    <td align="center">是否计算</td>
                </tr>
{#                <div id="whathappened" class="whatthefuck">#}
{#                <p>什么鬼</p>#}
{#                </div>#}
            {% for term in grades %}
                <tbody id="term" class="term">
                {% for grade in term %}
                    <tr>
                        <td align="center"><span id="name">{{ grade[0] }}</span></td>
                        <td align="center"><span id="type">{{ grade[1] }}</span></td>
                        <td align="center"><span id="weight">{{ grade[2] }}</span></td>
                        <td align="center"><span id="grade">{{ grade[3] }}</span></td>
                        <td align="center"><input type="checkbox" id="choose" {% if grade[1] in ['通修','平台','核心'] and grade[3] != 0%}checked{% endif %}></td>
                    </tr>

                {% endfor %}
                </tbody>
            {% endfor %}
                <tbody id="new_courses">

                </tbody>
        </table>
	</div>

    <div class="add_item center">
            学分<input type="text" id="add_weight" size="3" class="btnImg" required="required"></input>
            成绩<input type="text" id="add_grade" size="3" class="btnImg" required="required"></input>
            <button type="button" id="add_do" class="btn btn-default btnImg">新增一门课程</button>
    </div>
{#    <button id="SelectAll">全选</button>#}
{#    <button id="disSelectAll">全不选</button>#}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container center">
            <button id="checkall" class="btn btn-info">全选</button>
            <button id="someSelect" class="btn btn-primary">必修</button>
            <button id="invertSelect" class="btn btn-warning">反选</button>
            <button id="resultButton" class="btn btn-success">南大算法</button>
            <button id="resultButton2" class="btn btn-success">标准算法</button>
        </div>
    </nav>
    <div class="alert alert-success">
        <h4>使用说明：</h4>
        <ol>点击“全选”按钮可以选中全部课程，在全部选中情况下点击“全选”则可以取消选中全部课程</ol>
        <ol>点击“必修”会选中课程类型为“通修”、“平台”或“核心”的课程</ol>
        <ol>南大算法得到的GPA=(学分*分数)的总和/学分的总和/20，满分为5</ol>
        <ol>在标准算法中， 成绩在90-100之间的课程记为4分，成绩在80-89、70-79、60-69、60以下范围内的课程分别记为3、2、1、0分，标准算法得到的GPA=(换算后的分数*学分)的总和/学分的总和，满分为4</ol>
        <ol>如果在教务系统中某项课程的成绩显示为非数字，如“缺考”、“无成绩”等，则该课程成绩会被转化为0，并且默认不被选中</ol>
        <ol>点击“新增一门课程”可以新增一门自定义的课程加入计算</ol>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/cal.js') }}"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}