{% extends "base.html" %}

{% block title %}我的课表{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
{#    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">#}
{% endblock %}

{% block page_content %}
{#    <div class="row">#}
{#    {% for color in color_list %}#}
{#        <div class="col-xs-1" style="background-color: {{ color }};height: 50px" ></div>#}
{#    {% endfor %}#}
{#    </div>#}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="{% if week_now < 2 or week_now > 18  %}#{% else %}{{ url_for('helper.timetable', week=week_now-1) }}{% endif %}"><</a></li>
            <li><a>第{{ week_now }}周</a></li>

            <li class="next"><a href="{% if week_now < 1 or week_now > 17  %}#{% else %}{{ url_for('helper.timetable', week=week_now+1) }}{% endif %}">></a></li>
        </ul>
    </nav>
    <div class="container">
		<table width="95%" style="background-color:#ffffff">
            <tr>
				<td class="col-my-1 course_title"><div></div></td>
				<td class="col-my-2 course_title"><div>周一</div></td>
				<td class="col-my-2 course_title"><div>周二</div></td>
				<td class="col-my-2 course_title"><div>周三</div></td>
				<td class="col-my-2 course_title"><div>周四</div></td>
				<td class="col-my-2 course_title"><div>周五</div></td>
				<td class="col-my-2 course_title"><div>周六</div></td>
				<td class="col-my-2 course_title"><div>周日</div></td>
			</tr>
            <tr>
				<td class="col-my-1 morning">
					<div class="course_time">1</div>
					<div class="course_time">2</div>
					<div class="course_time">3</div>
					<div class="course_time">4</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 morning" style="position: relative;">
                    {% for j in range(4) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            <tr>
				<td class="col-my-1 afternoon">
					<div class="course_time">5</div>
					<div class="course_time">6</div>
					<div class="course_time">7</div>
					<div class="course_time">8</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 afternoon">
                    {% for j in range(4, 8) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            <tr>
				<td class="col-my-1 evening">
					<div class="course_time">9</div>
					<div class="course_time">10</div>
					<div class="course_time">11</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 evening">
                    {% for j in range(8, 11) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default center" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/cal.js') }}"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var message = {{ msg|tojson|safe }};
    var courses = {{ courses|tojson|safe }};
    </script>
    <script>
    var patt1 = new RegExp("course[0-9]+");
    var patt2 = new RegExp("[0-9]+");
    var patt3 = new RegExp("morning");
    var patt4 = new RegExp("afternoon");
    $(document).ready(function () {
{#        alert(message[0][0]);#}
        $('div.course').click(function(){
{#			t1 = patt1.exec($(this).attr("class"));#}
{#			alert(patt2.exec(t1));#}
{#            var index = parseInt(patt2.exec(t1));#}
			$('.modal-title').text('课程详情');
{#			$('.modal-body').html('<p>课程编号: '+message[index][3]+'<br>课程名称: '+message[index][0]+'<br>教师: '+message[index][1]+'<br>上课地点及时间: <br>'+message[index][2]+'</p>');#}
{#			$('.modal-body').text(('课程名称: '+message[index][0]+'\n\n教师: '+message[index][1]+'\r\n上课地点及时间: '+message[index][2]));#}
{#			alert(typeof ($(this).attr("class")));#}
			var row_cnt;
			var col_cnt = $(this).parent().prevAll().length-1;
			if(patt3.test($(this).parent().attr("class"))){
			    row_cnt = $(this).prevAll().length;
            }
            else if(patt4.test($(this).parent().attr("class"))){
			    row_cnt = $(this).prevAll().length+4;
            }
            else{
			    row_cnt = $(this).prevAll().length+8;
            }
            $('div.modal-body').remove();

            for(var i=0; i<courses[col_cnt][row_cnt][1].length; i++){
                index = courses[col_cnt][row_cnt][1][i];
                $('div.modal-footer').before('<div class="modal-body">'+'<p>课程编号: '+message[index][3]+'<br>课程名称: '+message[index][0]+'<br>教师: '+message[index][1]+'<br>选课类型: '+message[index][4]+'<br>校区: '+message[index][5]+'<br>上课地点及时间: <br>'+message[index][2]+'</p>'+'</div>');
            }
{#			alert(row_cnt+' '+col_cnt);#}

            $('#myModal').modal('show');
		});
    })
    </script>
{% endblock %}
