{% extends "base.html" %}

{% block title %}我的课表{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobiscroll.min.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
{#    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">#}
{% endblock %}

{% block page_content %}
{#    <div class="row">#}
{#    {% for color in color_list %}#}
{#        <div class="col-xs-1" style="background-color: {{ color }};height: 50px" ></div>#}
{#    {% endfor %}#}
{#    </div>#}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="{% if week_now < 2 or week_now > 18  %}#{% else %}{{ url_for('helper.timetable', week=week_now-1) }}{% endif %}"><</a></li>
            <li id="week_choose"><a>第{{ week_now }}周</a></li>

            <li class="next"><a href="{% if week_now < 1 or week_now > 17  %}#{% else %}{{ url_for('helper.timetable', week=week_now+1) }}{% endif %}">></a></li>
        </ul>
    </nav>
    <div class="container">
		<table width="95%" style="background-color:#ffffff">
            <tr>
				<td class="col-my-1 course_title"><div></div></td>
				<td class="col-my-2 course_title"><div>周一</div></td>
				<td class="col-my-2 course_title"><div>周二</div></td>
				<td class="col-my-2 course_title"><div>周三</div></td>
				<td class="col-my-2 course_title"><div>周四</div></td>
				<td class="col-my-2 course_title"><div>周五</div></td>
				<td class="col-my-2 course_title"><div>周六</div></td>
				<td class="col-my-2 course_title"><div>周日</div></td>
			</tr>
            <tr>
				<td class="col-my-1 morning">
					<div class="course_time">1</div>
					<div class="course_time">2</div>
					<div class="course_time">3</div>
					<div class="course_time">4</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 morning" style="position: relative;">
                    {% for j in range(4) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            <tr>
				<td class="col-my-1 afternoon">
					<div class="course_time">5</div>
					<div class="course_time">6</div>
					<div class="course_time">7</div>
					<div class="course_time">8</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 afternoon">
                    {% for j in range(4, 8) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            <tr>
				<td class="col-my-1 evening">
					<div class="course_time">9</div>
					<div class="course_time">10</div>
					<div class="course_time">11</div>
				</td>
                {% for i in range(7) %}
                <td class="col-my-2 evening">
                    {% for j in range(8, 11) %}
                        {% if courses[i][j][1] %}
                        <div class="course_block course course{{ courses[i][j][1][0] }}" style="background-color:{{ color_list[courses[i][j][1][0]] }}">
                            <p class="td-nobr">{% if courses[i][j][0] != '' %}{{ courses[i][j][0] }}{% else %}&nbsp;{% endif %}</p>
                            {% if len(courses[i][j][1]) != 1 %}<span class="glyphicon glyphicon-plus" style="position:absolute; right: 0; top:33px"></span> {% endif %}
                        </div>
                        {% else %}
                        <div class="course_block_empty">
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        {% if courses_except != [] %}
            <p>您有一些课程转换到课表失败：</p>
        <table class="table">
            <thead>
                <tr>
                  <td align="center">课程名称</td>
                  <td align="center">教师</td>
                  <td align="center">时间及地点</td>
                </tr>
            </thead>
            {% for tt in courses_except %}
                <tr class="course_except">
                    <td align="center">{{ tt[0] }}</td>
                    <td align="center">{{ tt[1] }}</td>
                    <td align="center">{{ tt[2] }}</td>
                    <td style="display:none">{{ tt[3] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div><h4>使用说明：</h4>
        <ol>点击当前周数按钮可以选择要跳转到的周</ol>
        <ol>您的课程表不会主动刷新，向服务号后台发送“刷新课程”可以刷新您的课程表</ol>
        </div>
    </div>
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default center" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<ul id="treelist">
    {% for i in range(1,19) %}<li>第{{ i }}周</li>{% endfor %}
</ul>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/mobiscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timetable.js') }}"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var message = {{ msg|tojson|safe }};
    var courses = {{ courses|tojson|safe }};
{#    #}
    $(document).ready(function () {
        $("input#treelist_dummy").hide();
    });
    </script>
{% endblock %}
